@media only screen and (min-resolution: 92dpi) {

    /* Retina-specific stuff here */

    :root{
        --default-radius: 24px;
    }
    * {
        font-size: 16px;
    }

    header {
        height: 60px;
    }

    header .logo {
        width: 80px;
    }

    .research div.form_content {
        height: 42px;
    }

    .research input {
        padding-left: 12px;
    }

    .research span.location-dot {
        padding-inline: 18px;
    }

    .filters_options {
        gap: 24px;
    }

    .result {
        gap:34px;
    }

    .result_list a {
        flex: 1 0 250px;
    }

    .result_list, .popular_list{
        margin: 0px;
    }

    .v_card, .h_card{
        padding: 4px;
    }

    @media (max-width:768px) {
        .result_list a {
            flex: unset;
        }
    }

}