@media only screen and (min-resolution: 92dpi) {

    /* Retina-specific stuff here */

    :root{
        --default-radius: 24px;
    }
    * {
        font-size: 14px;
    }

    header {
        height: 60px;
    }

    header .logo {
        width: 80px;
    }

    .research div.form_content {
        height: 42px;
    }

    .research input {
        padding-left: 12px;
    }

    .research span.location-dot {
        padding-inline: 18px;
    }

    .results_info {
        font-size: 12px;
    }

    .filters_options {
        gap: 24px;
    }

    .result_list,
    .popular_list {
        padding: 32px;
    }

    .result {
        gap: 32px;
        padding-bottom: 32px;
    }

    .result_list a {
        flex: 1 0 250px;
    }

    .v_card, .h_card{
        padding: 4px;
    }

}